.nav {
  width: 100%;
  background-color: white;
}

.nav__center {
  width: 1440px;
  padding: auto 120px;
  height: 150px;
  display: flex;
  align-items: center; /*위에 붙이기*/
  justify-content: space-around;
  margin: 0 auto;
}

.nav_item {
  font-size: 35px;
  color: inherit;
  text-decoration: none;
}
