* {
  box-sizing: border-box;
}

body {
  background-color: #b2d5e6;
  margin: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  border-top: 1px solid black;
}

.header .header__center {
  margin: 25px auto;
  width: 1600px;
}

.header .header__center .header__title {
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
  padding-right: 110px;
}

.upload_data__title {
  color: white;
  justify-content: center;
  margin: 20px auto;
  font-size: 50px;
  font-weight: 600;
}

.upload_data__description {
  color: white;
  font-size: 28px;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.upload_data__box {
  display: flex;
  margin: 50px auto;
  width: 900px;
  height: 450px;
  background-color: #dcdcdc;
}
